html,
body {
	font-family:
		'Andika',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif;
	color: var(--font-color);
	background-color: var(--primary-color);
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #ffd8d8;
	--secondary-color: #ffa5a5;
	--action-color: #e2ac09;
	--action-font-color: #1f1d1d;
	--font-color: #302939;
	--navbar-height: 60px;
	--invert-value: 0;
}

a {
	text-decoration: none;
	color: var(--font-color);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--primary-color: #0f171f;
		--secondary-color: #40364d;
		--font-color: #ffd8d8;
		--invert-value: 1;
		--action-color: #fdc210;
		--action-font-color: #1f1d1d;
	}
}

[data-theme='Dark'] {
	--primary-color: #0f171f;
	--secondary-color: #40364d;
	--font-color: #ffd8d8;
	--invert-value: 1;
	--action-color: #fdc210;
	--action-font-color: #1f1d1d;
}

[data-theme='Light'] {
	--primary-color: #ffd8d8;
	--secondary-color: #ffa5a5;
	--font-color: #302939;
	--invert-value: 0;
	--action-color: #fdc210;
	--action-font-color: #1f1d1d;
}
